<%=flash_message%>


<h1>Entries#index</h1>

<%= @project.name %>

<ul>
	<% @project.entries.each do |entry|%>
	<li><%=display_entry(entry) %>
	<%= link_to("Edit", edit_project_entry_path(@project, entry))%>
	<%= link_to("Destroy", project_entry_path(@project, entry), method: :delete, data: {confirm: "Are you sure?"})%>
	</li>
	<%end%>
</ul>

<%=link_to("Projects", projects_path) %>
<%= link_to("New Entry", new_project_entry_path(@project))%>